<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    id="com.cordova.smtp.client" version="0.0.1">
    
    <name>Cordova SMTP Client</name>
    
    <engines>
        <engine name="cordova" version=">=3.4.0"/>
    </engines>
    
    <asset src="www/smtpClient.js" target="js/smtpClient.js"/>
    
    <js-module src="www/smtpClient.js" name="smtpClient">
        <clobbers target="smtpClient" />
    </js-module>
    
    <platform name="android">
        
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Hello">
                <param name="android-package" value="com.example.plugin.Hello"/>
            </feature>
        </config-file>
        
        <source-file src="src/android/Hello.java" target-dir="src/com/example/plugin/"/>
    </platform>
    
    <platform name="ios">
        
        <config-file target="config.xml" parent="/widget">
            <feature name="SMTPClient">
                <param name="ios-package" value="SMTPClient" />
            </feature>
        </config-file>
        
        <header-file src="src/ios/SMTPClient.h" target-dir="SMTPClientPlugin"/>
        <source-file src="src/ios/SMTPClient.m" target-dir="SMTPClientPlugin"/>
        <header-file src="src/ios/SMTPLibrary/Base64Transcoder.h" target-dir="SMTPClientPlugin"/>
        <source-file src="src/ios/SMTPLibrary/Base64Transcoder.m" target-dir="SMTPClientPlugin"/>
        <header-file src="src/ios/SMTPLibrary/HSK_CFUtilities.h" target-dir="SMTPClientPlugin"/>
        <source-file src="src/ios/SMTPLibrary/HSK_CFUtilities.m" target-dir="SMTPClientPlugin"/>
        <header-file src="src/ios/SMTPLibrary/NSData+Base64Additions.h" target-dir="SMTPClientPlugin"/>
        <source-file src="src/ios/SMTPLibrary/NSData+Base64Additions.m" target-dir="SMTPClientPlugin"/>
        <header-file src="src/ios/SMTPLibrary/NSStream+SKPSMTPExtensions.h" target-dir="SMTPClientPlugin"/>
        <source-file src="src/ios/SMTPLibrary/NSStream+SKPSMTPExtensions.m" target-dir="SMTPClientPlugin"/>
        <header-file src="src/ios/SMTPLibrary/SKPSMTPMessage.h" target-dir="SMTPClientPlugin"/>
        <source-file src="src/ios/SMTPLibrary/SKPSMTPMessage.m" target-dir="SMTPClientPlugin"/>
    </platform>
    
    <platform name="wp7">
        <source-file src="src/wp7/Hello.cs"/>
    </platform>
    
</plugin>